<div>
  <div>
    <h1>
      List of all things
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new thing
    </h2>

    <form action="/insert_thing" method="post">
      <div>
        <label for="description_box">
          Description
        </label>

        <textarea id="description_box" name="query_description" rows="3"></textarea>
      </div>

      <button>
        Create thing
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Description
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_things.each do |a_thing| %>
      <tr>
        <td>
          <%= a_thing.id %>
        </td>

        <td>
          <%= a_thing.description %>
        </td>

        <td>
          <%= time_ago_in_words(a_thing.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_thing.updated_at) %> ago
        </td>

        <td>
          <a href="/things/<%= a_thing.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
